header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #28292c;
}
.main-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 80px;
  width: 80px;
  background-color: #ff7043;
  border-radius: 2px;
}
.logo a {
  width: 100%;
  height: 100%;
  text-align: center;
}
.brand-logos {
  display: flex;
}
.brand-name {
  display: flex;
  font-size: 50px;
  font-family: "Adamina";
  color: #f7f8f8;
  align-items: center;
}

@media (min-width: 992px) {
  .toggle {
    display: none;
  }
  .main-links {
    display: flex;
    width: 100%;
  }
  .brand-name {
    margin: 0 32px;
  }
  .contact-link {
    padding: 16px 16px;
    margin: 0 64px;
    background-color: #ff7043;
    color: #28292c;
    border-radius: 4px;
  }
  .links {
    display: flex;
    padding: 0px;
    margin: 0px auto;
  }
  .links li {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .links li a {
    margin: 0 10px;
    padding: 4px 8px;
    color: #f7f8f8;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .toggle {
    display: block;
    border: 1px solid #ff7043;
    border-radius: 12px;
    margin: 0 10px;
    background-color: #28292c;
    padding: 0 6px;
  }

  .toggle svg rect {
    fill: #ff7043;
    rx: 8px;
    ry: 8px;
  }
  .main-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #ff7043;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 100;
  }
  .links {
    padding: 0px;
    text-align: center;
  }
  .links li {
    margin: 8px 0;
    align-items: center;
    list-style: none;
  }
  .brand-name {
    font-size: 36px;
    margin: 0 16px;
  }
  .contact-link {
    margin: 12px 10px;
    padding: 4px 8px;
    color: #28292c;
    font-size: 18px;
    text-align: center;
  }
  .links li a {
    margin: 0 10px;
    padding: 4px 8px;
    color: #28292c;
    font-size: 18px;
  }
}

.links li a:hover {
  border-bottom: 3px solid #ff7043;
}

.contact-link:hover {
  background-color: white;
  color: #28292c;
}
.brand-name:hover {
  color: #f7f8f8;
}
